@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">ATH Bike Rental System</h1>
    <p>To strona Wypożyczalni Rowerów</p>
    <p>Nasze wypożyczalnie znajdują się w siedmiu lokalizacjach w Bielsku-Białej.</p>
    <img src="/img/punkty.jpg"/>
    <p>Jak wypożyczyć rower? To bardzo proste, po prostu wypożycz rower i oddaj go w dowolnej lokalizacji.</p>
    <div style="margin-top: 1em;">
        Cennik: <br/>
        <ul style="list-style-position: inside">
            <li>1h: 20zł</li>
            <li>2h: 35zł</li>
            <li>5h: 50zł</li>
        </ul>
    </div>
    
</div>